/*body{
	background-image: url('../Ressource/Image/homme%20sac%20%C3%A0%20dos%203.jpeg');
	background-repeat: no-repeat;
  background-attachment: fixed;
background-size: cover;
}*/

* {
	margin: 0;
}

.iframe {
	position: absolute;
	top: 150px;
	left: 0;
	right: 0;
	bottom: 0;
}
@media (max-width: 990px) {
	.iframe {
		top: 53px
	}
}

.iframe iframe {
	display: block; 
	width: 100%; 
	height: 100%; 
	border: none;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0; 
	padding: 0
}

.menu {
	position: absolute;
	top: 0; 
	left: 0; 
	right: 0; 
	height: 50px;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
	background-color: #333;
	margin-top: 3vh;
	color: white;
	padding: 30px 0 10px 0;
}
  
iframe body{
	background:none transparent !important;
	background-color:none  !important;
}

/*couleur du site*/

/*
* couleur principal: 609DE0
* couleur secondaire: FFDC01
*
*
*
*/

h1 {
	text-align: center;
	margin-top: 1vh;
	margin-bottom: 2vh;
	color: #333;
}
@media (max-width: 1100px) {
	h1 {
		font-size: 24px;
	}
}
@media (max-width: 750px) {
	h1 {
		font-size: 18px;
	}
}

.Bold {
	font-weight: bold;
}

.Bold td {
	font-weight: bold;
}

.Bold td.Center {
	text-align: center;
	vertical-align: middle;
}

.Center {
	text-align: center;
	vertical-align: middle;
}

.TableBorder td,
.TableBorder tr {
	border: 1px solid black;
	text-align: left;
	padding: 8px;
}

td ul li {
	margin-top: 2px;
}


.big-checkbox {
	width: 20px;
	height: 20px;
}

.mt-6 {
	margin-top: 4rem !important;
}

a img {
	cursor: pointer;
}

footer div > img +img {
	margin-left: 5px !important;	
}

.cadre-menu {
	justify-content: center;
}
@media (max-width: 990px) {
	.cadre-menu {
		justify-content: flex-start;
	}
}

.texte-menu {
	font-size: 20px;
	padding-left: 10px;
}
@media (max-width: 750px) {
	.texte-menu {
		font-size: 14px;
	}
}

.imageBandeau {
	width: 100vw;
    height: 65vh;
    object-fit: fill;
}
@media (max-width: 750px) {
	.imageBandeau {
		height: 35vh;
	}
}

.imageTemplateText{
	width:400px;
	height:200px ;
	text-align: center
}

/*
.imageBasPageAccueil{
	width:100%;
	height:100%;

	max-width:195px;
	max-height:240px; 
	min-width:195px;
	min-height:240px; 
}
*/
.imageNouvelle{
	width:100%;
	height:100%; 
}
.imageNouvelleEdit{
	width:700px;
	height:200px;
}
.imageMagasin{
	width:100%;
	height:auto;
}
.imageMagasinEdit{
	width:auto;
	height:150px;
}

.basPage {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.basPage > div > div{
	margin-bottom: 0.625rem !important;
}

.embed-responsive-1by1 {
  height: 60vh !important;
  margin-bottom: 3vh;
}
@media (max-width: 750px) {
	.embed-responsive-1by1 {
		height: 35vh !important;
	  }
}

.embed-responsive-item {
  height: 60vh !important;
}
@media (max-width: 750px) {
	.embed-responsive-item {
		height: 35vh !important;
	  }
}

.pastille-cadre {
	height: 50vh;
	border-radius: 10px;
	color: white;
	padding: 0 !important;
	cursor: pointer;
}
@media (max-width: 750px) {
	.pastille-cadre {
		height: 30vh;
	}
}
.pastille-texte {
	font-size: 30px;
	width: 100%;
	text-align: center;
}
@media (max-width: 750px) {
	.pastille-texte {
		font-size: 20px;
	}
}
.pastille-image {
	height: 50vh;
	width: 100%;
	object-fit: fill;
}
@media (max-width: 750px) {
	.pastille-image {
		height: 30vh;
	}
}
.pastille-cadre img {
	border-radius: 0 10px 10px 0 ;
}
.fond-orange {
	background-color: orange;
}
.fond-bleu {
	background-color: #007bff;
}

/*
@media (min-width:576px) {
	.imageBandeau{
		max-width:540px;
		max-height:180px; 
		min-width:540px;
		min-height:180px; 
	}
	.imageNouvelle{
		max-width:540px;
		max-height:180px; 
		min-width:540px;
		min-height:180px; 
	}
	.imageBasPageAccueil{
		max-width:195px;
		max-height:240px; 
		min-width:195px;
		min-height:240px; 		
	}
}

@media (min-width: 768px){
	.imageBandeau{
		max-width:720px;
		max-height:230px;
		min-width:720px;
		min-height:230px;
	}
	.imageNouvelle{
		max-width:720px;
		max-height:230px;
		min-width:720px;
		min-height:230px;
	}
	.imageBasPageAccueil{
		max-width:230px;
		max-height:280px; 
		min-width:230px;
		min-height:280px;  		
	}
}

@media (min-width: 992px){
	.imageBandeau{
		max-width:960px;
		max-height:305px;
		min-width:960px;
		min-height:305px;
	}
	.imageNouvelle{
		max-width:960px;
		max-height:305px;
		min-width:960px;
		min-height:305px;
	}
	.imageBasPageAccueil{
		max-width:180px;
		max-height:225px;
		min-width:180px;
		min-height:225px;		
	}
}
@media (min-width: 1200px){
	.imageBandeau{
		max-width:1080px;
		max-height:345px;
		min-width:1080px;
		min-height:345px;
	}
	.imageNouvelle{
		max-width:1080px;
		max-height:345px;
		min-width:1080px;
		min-height:345px;
	}
	.imageBasPageAccueil{
		max-width:230px;
		max-height:290px;
		min-width:230px;
		min-height:290px; 		
	}
}
*/

@media (max-width: 768px){
	.basPage >div +div{
		margin-top: .5rem!important;
	}
}

.contentEditable{
	border-style: solid;
}