/** {}

.Menu ul {
  padding: 0;
  background: orange;
  margin: 0;

}

.Menu ul * {
  cursor: pointer;
}

input[type=button] {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  background: #ffa500;
  text-align: center;
  vertical-align: middle;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: silver;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0;
  overflow: auto;
}


.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
}

.dropdown-content > li {
  color: white;
  text-decoration: none;
  display: block;
}

.dropdown-content li:hover {
  background-color: dimgray;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover {
  background: #FFBD37;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

i {
  vertical-align: middle;
}
*/

/*li (> a.active) {
	color:red;
}*/

.dropdown-menu {
	margin: 0;
}

.dropdown:hover > .dropdown-menu {
	display: block;
}

.dropdown > .dropdown-toggle:active {
	/*Without this, clicking will make it sticky*/
	pointer-events: none;
}


.dropright:hover > .dropdown-menu {
	display: block;
}

.dropright > .dropdown-toggle:active {
	/*Without this, clicking will make it sticky*/
	pointer-events: none;
}


.dropleft:hover > .dropdown-menu {
	display: block;
}

.dropleft > .dropdown-toggle:active {
	/*Without this, clicking will make it sticky*/
	pointer-events: none;
}

.dropup:hover > .dropdown-menu {
	display: block;
}

.dropup > .dropdown-toggle:active {
	/*Without this, clicking will make it sticky*/
	pointer-events: none;
}

.dropright .dropdown-menu {
	margin-left: 0;
}

.dropleft .dropdown-menu {
	margin-right: 0;
}

.dropup .dropdown-menu {
	margin-bottom: 0;
}


.navbar-nav ul,
.navbar-nav ul li {
	list-style: none !important;
}


.navbar-nav * {
	cursor: pointer;
}

input[type=button] {
	cursor: pointer;
}

button {
	cursor: pointer;
}

.nav-link * {
	color: rgba(0, 0, 0, .5);
}
